.todo__submit{
    margin-top: 22px;
    background: #007AFF;
    border-radius: 10px;
    border: none;
    width: 277px;
    height: 44px;
    color: #FFFFFF;
    transition: opacity 0.1s linear;
    cursor: pointer;
}

.todo__submit:hover{
    opacity: 0.6;
}